<h1>Product details</h1>
<!-- Paths are absolute to avoid a missing :id error when recovering from an error in review form (from /products/:product_id/reviews). -->
<%= link_to 'Edit', edit_product_path(@product), title: "Change this product's details" %>
<%= link_to 'Delete', product_path(@product), title: "Delete this product", :'data-method' => 'delete' %>
<%= render @product %>

<div id="review-list">
  <%= render :partial => "products/reviews" %>
</div>

<!-- Show review form only if logged in -->
<% if current_user %>
  <%= render 'reviews/form' %>
<% else %>
  <p>Please <%= login_link %> or <%= signup_link %> to add a review.</p>
<% end %>

<%= javascript_include_tag params[:controller] %>