<%-# This way, active record can infer the value for the FK in Reviews -%> 
<%= form_for [@product, @review], :remote => @ajax do |f| %>    
  <div id="review-form-errors">   
    <%= render 'shared/form_header', :errors => @review.errors %>
  </div>
  <div class="field">
    <%= f.label :comment %><br/>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>